html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  background: #1f2937;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8
}

.header-links {
  display: flex;
  gap: 24px;
}

.header-links li {
  list-style-type: none;
}

.header-links a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.head-section {
  display: flex;
}

.image-placeholder {
  display: flex;
}

.info-section {
  display: flex;
  flex-direction: column;
}

.item-container {
  display: flex;
}

.quote-section {
  display: flex;
  flex-direction: column;
}

.sign-up-section {
  display: flex;
}

.footer {
  display: flex;
}