html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  background: #1f2937;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8
}

.header-links {
  display: flex;
  gap: 24px;
}

.header-links li {
  list-style-type: none;
}

.header-links a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.head-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f2937;
  padding-top: 72px;
  padding-bottom: 72px;
  gap: 20px;
}

.head-section .container {
  width: 350px;
  height: 60%;
}

.head-section .heading {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0px;
}

.head-section .subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  background-color: #3b82f6;
  color: #f9faf8;
  padding: 8px 16px;
  border: 0;
  border-radius: 10px;
  font-weight: bold;
}

.head-section .image-placeholder {
  display: flex;
  color: #f9faf8;
  background: #6d747d;
  align-items: center;
  padding: 100px;
  height: 60%;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.info-section .heading {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.item-container {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item .image {
  width: 100px;
  height: 100px;
  border: 2px solid dodgerblue;
  border-radius: 12px;
}

.quote-section {
  display: flex;
  flex-direction: column;
  background: #e5e7eb;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
}

.quote {
  font-size: 30px;
  font-style: italic;
  width: 70%;
  margin: 0;
}

.signature {
  font-size: 20px;
  font-weight: bold;
  align-self: flex-end;
  width: 36%;
}

.sign-up-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
}

.sign-up-section .container {
  background: #3882f6;
  padding: 24px 224px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 48px;
}

.sign-up-section .text-container {
  color: #f9faf8;
  display: flex;
  flex-direction: column;
}

.sign-up-section .heading {
  margin-bottom: 0;
}

.sign-up-section .button {
  border: 2px solid white;
  height: 50%;
  padding: 8px 24px;
}

.footer {
  background: #1f2937;
  height: 15vh;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}